<html lang="en">
<head>
    <%- include('partials/header.ejs', {pageTitle: "Nufi | Notifications"}); %>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Nufi is working!</h1>
        <% if (!!username) { %>
            <p>username: <%= username %> </p>
        <% } %>
    </div>

    <%- include('partials/footer.ejs'); %>
</body>
</html>